PORT=8787
CHAT_STORE_DIR=/var/lib/zhoupeng-chat
WHATSAPP_GRAPH_VERSION=vXX.X
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_ACCESS_TOKEN=
WHATSAPP_OPERATOR_NUMBER=8615880666798
WHATSAPP_APP_SECRET=
WHATSAPP_VERIFY_TOKEN=
WHATSAPP_ALERT_TEMPLATE=
WHATSAPP_TEMPLATE_LANGUAGE=en_US
